
* {
    box-sizing: border-box;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}



.title-desc-image{
    text-align: center;
    padding-bottom: 3%;
    height: 60vh;
    background:url(../img/announcement.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.main-footer{
   position: fixed;
   bottom: 0px;
   max-width: 960px;
}
 
#desktopNav{
    display: table-cell;
    width: 70%;
    text-align: right;
    vertical-align: middle;
}

.main-nav ul{
    font-size: 12px;
    text-align: right;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1em;
    position: relative;
    z-index: 8002;
    overflow: hidden;
}


a {
    text-decoration: none;    
}


.title-desc-image{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.text-align-center{
    text-align: center;
}

h1.our-story-header{
    margin-top: 0;
    text-align: center;
    font-family: "brandon-grotesque";
    font-size: 32px;
    line-height: 1.2em;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    margin: 1em 0 .5em;
    color: #1c1c1c;
}

h2.our-story-text{
    margin: 0;
    padding: 0;
    padding: 0;
    font-family: "ff-meta-serif-web-pro";
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    color: #3A4049;
    line-height: 1.68em;
}

h1.he-proposed-header{
    margin-top: 0;
    text-align: center;
    font-family: "brandon-grotesque";
    font-size: 32px;
    line-height: 1.2em;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    margin: 1em 0 .5em;
    color: #1c1c1c;
}

h2.he-proposed-text{
    margin: 0;
    padding: 0;
    padding: 0;
    font-family: "ff-meta-serif-web-pro";
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    color: #3A4049;
    line-height: 1.68em;
}

h1.add-to-our-story-header{
    margin-top: 0;
    text-align: center;
    font-family: "brandon-grotesque";
    font-size: 32px;
    line-height: 1.2em;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    margin: 1em 0 .5em;
    color: #1c1c1c;
}

h2.add-to-our-story-text{
    margin: 0;
    padding: 0;
    padding: 0;
    font-family: "ff-meta-serif-web-pro";
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    color: #3A4049;
    line-height: 1.68em;
}

h1.registry-header{
    margin-top: 0;
    text-align: center;
    font-family: "brandon-grotesque";
    font-size: 32px;
    line-height: 1.2em;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    margin: 1em 0 .5em;
    color: #1c1c1c;
}

h2.registry-text{
    margin: 0;
    padding: 0;
    padding: 0;
    font-family: "ff-meta-serif-web-pro";
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    color: #3A4049;
    line-height: 1.68em;
}

h1.when-where-text {
    font-family: "Foundry Origin W01 Bk",Georgia, serif;
    color: #37383b;
    letter-spacing: 0.2em;
    font-size:36px;
    text-transform: uppercase;
    font-style: normal;
    margin: 0;
    text-align: center;
    padding-top: 10px;
    
}

h2.datetime {
    font-family: "brandon-grotesque";
    font-size: 16px;
    line-height: 1.6em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    margin: 1em 0.5em;
    color: #1c1c1c;
    text-align: center;
}

h3.bluehill {
    font-family: "Foundry Origin W01 Bk",Georgia, serif;
    color: #37383b;
    letter-spacing: 0.2em;
    font-size:30px;
    text-transform: uppercase;
    font-style: normal;
    margin: 0;
    text-align: center;
}

h1.announcement-text {
    font-family: "Foundry Origin W01 Bk",Georgia, serif;
    color: #37383b;
    letter-spacing: 0.2em;
    font-size:38px;
    text-transform: uppercase;
    font-style: normal;
    margin: 0;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    line-height: 0%;
    position: relative;
}

h1.announcement-date {
    font-family: "brandon-grotesque";
    font-size: 150px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0;
    font-style: normal;
    margin: 0;
    color: #1c1c1c;
    text-align: center;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

h4.stonebarns {
    font-family: "Foundry Origin W01 Bk",Georgia, serif;
    color: #37383b;
    letter-spacing: 0.1em;
    font-size: 11px;
    text-transform: uppercase;
    font-style: normal;
    margin: 0;
    text-align: center;
}

h5.bluehilladdress {
    font-family: "BellGothicBTW01-Roman", Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1.8em;
    letter-spacing: 0.1em;
    text-align: center;
    
}

.sqs-block {
    position: relative;
    text-align: center;
    
}

.sqs-block-button-element--small {
    border-width: 2px;
    border-style: solid;
    padding: 13px 26px;
    font-size: 12px;
    font-family: "brandon-grotesque";
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;
    border-color: #272727;
    color: black;
}

p {
    
}

.wedding-party-text{
    text-align: center;
    
}

.content-spacer{
    height: 50px;
}
.content-spacer20{
    height: 20px;
}
.content-spacer-border{
    position: relative;
    height: 10px;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid black;
    
}

.wedding-party {
    width: 100%;
    background-color: white;
    position: relative;
    z-index: 50;
}

.meet-the-team{
    text-transform: uppercase;
    font-family: brandon-grot-w01-light,sans-serif;
    font-size: 48px;
}

.team-player-name {
    font-weight: bold;
    font-size: 17px;
    font-family: avenir-lt-w01_85-heavy1475544,sans-serif;
    text-align: center;
    margin: 10px auto;
}

.team-player-info{
    margin: 0;
    padding: 0;
    padding: 0;
    font-family: brandon-grot-w01-light, sans-serif;
    font-size: 12px;
    text-align: center;
    text-transform: none;
    color: #3A4049;
}

.content-inner{
    padding: 100px 8%;
    max-width: 960px;
    margin: 0 auto;
}

.content-inner-main{
    padding: 0;
    max-width: 960px;
    margin: 0 auto;
    height:90vh;
}

.groomsmen{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.bridesmaids{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ringbearers{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.registry{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.groomsmen-text{
    font-family: brandon-grot-w01-light,sans-serif;
    font-size:24px;
    text-align: center;
}

.bridesmaids-text{
    font-family: brandon-grot-w01-light,sans-serif;
    font-size:24px;
    text-align: center;
}
.ringbearers-text{
    font-family: brandon-grot-w01-light,sans-serif;
    font-size:24px;
    text-align: center;
}

.bed-bath-and-beyond-image {
    text-align: center;
    background: url("https://d7olld39l2hok.cloudfront.net/logo/4214388.png") no-repeat;
}

.when-and-where {
    position: relative;
    background: url(../img/bluehillside.jpeg);
    width:100%;
    height: 91vh;
    background-size: 100% 100%;
    opacity: 1.0;
}


.registry {
    position: relative;
    background: url(../img/registry.jpeg);
    width:100%;
    height: 91vh;
    background-size: 100% 100%;
    opacity: 1.0;
}

#banner {
    margin: 0%;
}


.announcement {
    border-top: 2px solid lightgrey;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 3%;
    
}

#footer {
        width: 100%;
    position: relative;
    margin-top: 50px;
}