#header {
    background-color: #fff;
    width: 100%;
    position: relative;
    z-index: 8001;
    
}

.title-nav-wrapper{
    display: table;
    width: 100%;
    margin: 0 auto;
    padding: 25px 80px;
    vertical-align: middle;
    box-sizing: border-box;
}

.site-title{
    font-family: "brandon-grotesque";
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 6px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    display: table-cell;
    width: 30%;
    vertical-align: middle;
    line-height: 1em;
    z-index: 8002;
    position: relative;
}

.title-desc-image{
    text-align: center;
}

#desktopNav{
    display: table-cell;
    width: 70%;
    text-align: right;
    vertical-align: middle;
}

.main-nav ul{
    font-size: 12px;
    text-align: right;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1em;
    position: relative;
    z-index: 8002;
}

.main-nav ul li{
    text-align: right;
    margin: 0 0 0 30px;
    display: inline-block;
    position: relative;
    z-index: inherit;
}

a {
    text-decoration: none;    
}

.main-nav ul li a span{
    color: #1c1c1c;
    font-family: "brandon-grotesque";
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;    
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
    line-height: 2em;    
}

.main-nav ul li a span:hover {
    color:#008080;
}

.title-desc-image{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.text-align-center{
    text-align: center;
}

h1 {
    display: block;
    font-family: "brandon-grotesque";
    font-size: 32px;
    line-height: 1.2em;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    margin: 1em 0.5em;
    color: #1c1c1c;
    margin-top: 0;
    
}

h2 {
    font-family: "brandon-grotesque";
    font-size: 16px;
    line-height: 1.6em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    margin: 1em 0.5em;
    color: #1c1c1c;
}

h3{
    font-family: "Foundry Origin W01 Bk",Georgia, serif;
    color: #37383b;
    letter-spacing: 0.2em;
    font-size:30px;
    text-transform: uppercase;
    font-style: normal;
    margin: 0;
}

h4 {
    font-family: "Foundry Origin W01 Bk",Georgia, serif;
    color: #37383b;
    letter-spacing: 0.1em;
    font-size: 11px;
    text-transform: uppercase;
    font-style: normal;
    margin: 0;
}

h5{
    font-family: "BellGothicBTW01-Roman", Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1.8em;
    letter-spacing: 0.1em;
    
}

.sqs-block {
    position: relative;
    text-align: center;
    
}

.sqs-block-button-element--small {
    border-width: 2px;
    border-style: solid;
    padding: 13px 26px;
    font-size: 12px;
    font-family: "brandon-grotesque";
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;
    border-color: #272727;
    color: black;
}

p {
    
}