
* {
    box-sizing: border-box;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

.container {
    position: relative;
    width: 55%;
    background: url(../img/melissaandted.jpeg);
    height: 80vh;
    background-size: 100% 100%;
    opacity: 1.0;
    margin-top: -1%;
}

.content-inner{
    padding-top: 58%;
    max-width: 960px;
    height: 90vh;
    margin: 0 auto;
    position: relative;
}



h3 {
    margin-top: .5%;
    margin-bottom: 0%;
    font-size: 4rem;
    line-height: 40px;
    font-weight: 300;
    letter-spacing: 12px;
    color: rgb(17, 17, 17);
    font-family: Lato, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    display: block;
   
}

h4 {
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 2rem;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 12px;
    color: rgb(17, 17, 17);
    font-family: Lato, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    display: block;
   
}

@media only screen and (max-width:640px){.container{width:100%;}}
@media only screen and (max-width:640px){.content-inner{padding-top:125%;}}
@media only screen and (max-width:640px){h3{visibility: hidden; line-height: 0px;}}
@media only screen and (max-width:640px){span{display: none;}}
@media only screen and (max-width:640px){h4:after{content:"Sep. 15, 2017";}}
